.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;

  @media only screen and (max-width: $bp-small) {
    margin: 9rem 0;
  }
}

.home {
  background-color: $color-grey-light-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.5rem;
  &__img {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 1;
  }

  &__like {
    fill: $color-primary;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 2.5rem;
    width: 2.5rem;
    justify-self: end;
    z-index: 2;
    margin: 1rem;
  }

  &__name {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: center;
    width: 80%;
    font-family: $font-display;
    font-size: 1.6rem;
    padding: 1.25rem;
    text-align: center;
    background-color: $color-secondary;
    color: #fff;
    font-weight: 400;

    transform: translateY(50%);
    z-index: 2;
  }

  &__location,
  &__rooms {
    margin-top: 2.5rem;
  }

  &__location,
  &__rooms,
  &__area,
  &__price {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    margin-left: 2rem;
    svg {
      fill: $color-primary;
      height: 2rem;
      width: 2rem;
    }
  }

  &__btn {
    grid-column: 1 / -1;
  }
}
